*
!.gitignore
!README.md
!Makefile-base.mk
!LICENSE
![a-z]*/
!Makefile
!.clang-format
!.clang-tidy
!CPPLINT.cfg
!.editorconfig
!bench.sh
!*.c
!*.cc
!*.cpp
!*.cxx
!*.c++
!*.h
!*.java
!*.py
!*.kt
!*.go
